.footer{
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: to bottom, rgb(190, 0, 0);
  background-image: linear-gradient(to bottom, white 80%, rgb(190, 0, 0));
}
p{
  margin-top: 50px;
}
