<div class="navbar" style="top: 0px;">
  <div class="menu">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      Menu
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="max-width: 18%;">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <!-- <div>
          Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div> -->
        <div class="navbtn">
          <div style="margin: 10px;">
            <button type="button" class="btn btn-primary">Home</button>
          </div>
          <div style="margin: 10px;">
            <button type="button" class="btn btn-primary">Chili Peppers</button>
          </div>
          <div style="margin: 10px;">
            <button type="button" class="btn btn-primary">Hot Sauces</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="logo">
    <h3 style="color: rgb(190, 0, 0);">Chili</h3>
    <img src="https://st.depositphotos.com/52259964/53473/v/950/depositphotos_534731440-stock-illustration-red-chilli-pepper-linear-icon.jpg" style="width: 68px; height: 68px;">
    <h3 style="color: rgb(190, 0, 0);">Peppers</h3>
  </div>
  <div class="logbtn">
    <mat-icon>account_circle</mat-icon>
  </div>
</div>
